extends layout

block layout-content
  div.View
      h1.Banner WHATABYTE
      video(controls, width="100%", id="MainVideo").Video
          source(src="http://localhost:8080/video", type="video/mp4")
