extends layout

block layout-content
  div.View
      h1.Banner WHATABYTE
      video(controls, width="100%", id="MainVideo").Video
          source(src="/video", type="video/mp4")
          track(label="English" kind="subtitles" srclang="en" src="/assets/thirstSubEng.vtt" default)
